In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#увеличим дефолтный размер графиков
from pylab import rcParams
rcParams['figure.figsize'] = 20, 5
#графики в svg выглядят более четкими
%config InlineBackend.figure_format = 'svg' 
%matplotlib inline

In [79]:
pd.set_option('display.float_format', '{:.2f}'.format)
pd.set_option('display.max_columns', None)
path_2022 = '../data/2022/sh_tov/'
path = '../data/2022/'

In [39]:
inf_tovar = pd.read_csv('../data/inf_tovar.csv', sep=';')

In [4]:
# Списки тестовых магазнов

test_shop_vv = [11127, 14258, 11178, 11357, 15714, 11732, 11956, 11271, 11591, 13968, 12046]
test_shop_sh = [13968, 12046]

In [6]:
# Шаблоны имен файлов

id_tt = test_shop_vv[0]

name_file_6 = f'{id_tt}_6_июнь.csv'
name_file_fin_6 = f'{id_tt}_июнь_итог'

In [10]:
# Список товаров
df_tof = pd.read_csv(path_2022+name_file_6, sep=';')

In [12]:
df_tof.head(3)

,id_tov_cl,Quantity_median,Quantity_mean,BaseSum_median,BaseSum_mean,Shop_count,Shop_list,name,name_gr2,name_gr
0,30520,52,52,6271,6271,1,[14330],Лагман с говядиной Айс,Вторые блюда мясо айс,Айс ВкусВилл
1,47499,23,23,5588,5588,2,"[15123, 14330]",Манты с бараниной Айс,Вторые блюда мясо айс,Айс ВкусВилл
2,30252,27,27,6505,6505,1,[11512],Эклер ванильный Айс,Десерты айс,Айс ВкусВилл

In [32]:
tov_list = df_tof.id_tov_cl.unique()

In [ ]:
df_02_svao = pd.read_csv(path+'svao_2_febr.csv', sep=';')
df_03_svao = pd.read_csv(path+'svao_3_march.csv', sep=';')
df_04_svao = pd.read_csv(path+'svao_4_april.csv', sep=';')
df_05_svao = pd.read_csv(path+'svao_5_may.csv', sep=';')

In [70]:
list_fname_2022 = ['svao_2_febr.csv', 'svao_3_march.csv', 'svao_4_april.csv', 'svao_5_may.csv', 'svao_6_june.csv'] 
list_month = ['февр', 'март', 'апр', 'май', 'июнь']

In [80]:
for id_tt in test_shop_sh:
    
    name_file_6 = f'{id_tt}_6_июнь.csv'
    df_tof = pd.read_csv(path_2022+name_file_6, sep=';')
    tov_list = df_tof.id_tov_cl.unique()
    
    df_prod_2022 = pd.DataFrame(tov_list, columns=['id_tov_cl'])

    for i in range(len(list_fname_2022)):
        
        df = pd.read_csv(path+list_fname_2022[i], sep=';')
        
        df['Quantity'] = df['Quantity'] * df['znak']
        df['BaseSum'] = df['BaseSum'] * df['znak']
        
        df = df[df['id_tt_cl'] == id_tt].groupby(['id_tov_cl'], as_index=False)\
             .agg({'Quantity': 'sum', 'BaseSum':'sum'})\
             .rename(columns={'Quantity':f'Кол_{list_month[i]}', 'BaseSum':f'Сумма_{list_month[i]}'})
        
        df_prod_2022 = df_prod_2022.merge(df, how='outer', on='id_tov_cl')


    df_prod_2022 = df_prod_2022.fillna(0)

    df_prod_2022['Кол_22'] = (df_prod_2022['Кол_февр'] + df_prod_2022['Кол_март'] + df_prod_2022['Кол_апр'] 
                              + df_prod_2022['Кол_май'] + df_prod_2022['Кол_июнь'])

    df_prod_2022['Сумма_22'] = (df_prod_2022['Сумма_февр'] + df_prod_2022['Сумма_март'] + df_prod_2022['Сумма_апр']
                                + df_prod_2022['Сумма_май'] + df_prod_2022['Сумма_июнь'])


    df_prod_2022 = df_prod_2022.merge(inf_tovar, how='left', on='id_tov_cl')\
                               .merge(df_tof[['id_tov_cl', 'Quantity_median', 'Quantity_mean', 'BaseSum_median', 
                                              'BaseSum_mean', 'Shop_count', 'Shop_list']], how='left', on='id_tov_cl')

    df_prod_2022 = df_prod_2022.fillna(0)



    for col in ['Кол_февр', 'Сумма_февр', 'Кол_март', 'Сумма_март', 'Кол_апр', 'Сумма_апр', 
                'Кол_май', 'Сумма_май', 'Кол_июнь', 'Сумма_июнь', 'Кол_22', 'Сумма_22']:
        df_prod_2022[col] = df_prod_2022[col].apply(lambda s: np.round(s, 2))
        
    df_prod_2022.to_csv(path+f'{id_tt}_22.csv', sep=';', index=False)

In [72]:
df_prod_2022

,id_tov_cl,Кол_февр,Сумма_февр,Кол_март,Сумма_март,Кол_апр,Сумма_апр,Кол_май,Сумма_май,Кол_июнь,Сумма_июнь,Кол_22,Сумма_22,name,name_gr2,name_gr,Quantity_median,Quantity_mean,BaseSum_median,BaseSum_mean,Shop_count,Shop_list
0,30520,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Лагман с говядиной Айс,Вторые блюда мясо айс,Айс ВкусВилл,52.00,52.00,6271.00,6271.00,1.00,[14330]
1,47499,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Манты с бараниной Айс,Вторые блюда мясо айс,Айс ВкусВилл,23.00,23.00,5588.00,5588.00,2.00,"[15123, 14330]"
2,30252,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Эклер ванильный Айс,Десерты айс,Айс ВкусВилл,27.00,27.00,6505.00,6505.00,1.00,[11512]
3,34768,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"Рулет ""Лимонный"" Айс",Десерты на компанию айс,Айс ВкусВилл,29.00,28.00,7343.00,7034.00,3.00,"[11701, 14330, 11512]"
4,34767,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"Рулет ""Шоколадный"" Айс",Десерты на компанию айс,Айс ВкусВилл,28.00,29.00,6718.00,7047.00,3.00,"[11701, 14330, 11512]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5014,65327,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,7.00,753.25,7.00,753.25,"Желе фруктовое Абрикос, черешня, 200 г",Фруктовые и овощные нарезки,"Овощи, фрукты, ягоды, зелень",0.00,0.00,0.00,0.00,0.00,0
5015,65468,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,5.00,577.27,5.00,577.27,"Горошек сладкий в стаканчике, 150 г",Овощи,"Овощи, фрукты, ягоды, зелень",0.00,0.00,0.00,0.00,0.00,0
5016,65477,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,12.09,1879.85,12.09,1879.85,"Томаты черри красные, вес",Овощи,"Овощи, фрукты, ягоды, зелень",0.00,0.00,0.00,0.00,0.00,0
5017,65668,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,4.00,1803.64,4.00,1803.64,"Черешня отборная, 1 кг",Ягоды,"Овощи, фрукты, ягоды, зелень",0.00,0.00,0.00,0.00,0.00,0
5018,65669,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,3.85,412.99,3.85,412.99,Морковь молодая Крым,Овощи,"Овощи, фрукты, ягоды, зелень",0.00,0.00,0.00,0.00,0.00,0

In [73]:
df_selection = df_prod_2022[df_prod_2022['BaseSum_mean']>0]

In [81]:
for id_tt in test_shop_sh:
    
    name_f = f'{id_tt}_22.csv'
    df = pd.read_csv(path + name_f, sep=';')
    df_selection = df[df['BaseSum_mean']>0].copy()
    df_selection = df_selection.drop(['Сумма_февр', 'Сумма_март', 'Сумма_апр', 'Сумма_май', 'Кол_июнь', 'Сумма_июнь'], axis=1 )
    df_selection.sort_values(['name_gr','BaseSum_median'], ascending=False)
    df_selection.to_csv(path+f'{id_tt}_выборка.csv', sep=';', index=False)

In [ ]:
df_selection.s

In [56]:
df_prod_2022.columns

Index(['id_tov_cl', 'Кол_февр', 'Сумма_февр', 'Кол_март', 'Сумма_март',
       'Кол_апр', 'Сумма_апр', 'Кол_май', 'Сумма_май', 'Кол_июнь',
       'Сумма_июнь', 'Кол_22', 'Сумма_22', 'name', 'name_gr2', 'name_gr',
       'Quantity_median', 'Quantity_mean', 'BaseSum_median', 'BaseSum_mean',
       'Shop_count', 'Shop_list'],
      dtype='object')

In [25]:
df.columns

Index(['CheckLineUID', 'CheckUID', 'CashCheckLineNo', 'BasePrice', 'Quantity',
       'BaseSum', 'id_tt_cl', 'id_tov_cl', 'date_ch', 'time_ch',
       'OperationType_cl', 'znak', 'Price_retail', 'BonusCard_cl',
       'id_lovepr_card_tov', 'id_discount_chl', 'NameForClient', 'green_price',
       'type_order'],
      dtype='object')

In [40]:
inf_tovar

,id_tov_cl,name,name_gr2,name_gr
0,1655,Лукум с клюквой,"Зефир, безе, пастила","Сладости, кондитерские изделия"
1,1698,"Творог мягкий 4,5%",Творога мягкие,Молочная Продукция
2,1225,"Сливки 10%, 450 мл",Сливки,Молочная Продукция
3,16230,"Батончик мягкий ""Годжи-гуарана""",Бакалея даркстор,Бакалея
4,52,Сметана 25%,Сметана,Молочная Продукция
...,...,...,...,...
7062,61555,Бумага туалетная Veiro Домашняя белая 2-слойна...,Каталог,Главная
7063,64462,Пивной напиток «Wishbringer» Imp. Sour Ale,"Пиво, медовуха",Алкоголь
7064,64108,Салат с овощами и моцареллой,Салаты и закуски,Готовая еда
7065,63961,"Буррито с курицей, 160 грамм",Сэндвичи,Сэндвичи и пирожки
7066,51628,Абрикос красный,Фрукты,"Овощи, фрукты, ягоды, зелень"