In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pd.set_option('display.float_format', '{:.2f}'.format)

path_2022 = '../data/2022/'
path = '../data/'

In [3]:
df_ost = pd.read_csv(path+'2_ost.csv', sep=';')

In [5]:
df_ost[df_ost['id_tov'] == 49220]

,id_tt,id_tov,name_tov,id_group,name_gr,id_group2,name_gr2,date_tt,morning,evening,post
1358,14112,49220,Экспресс доставка,10365,Пространство ВкусВилл,10364,Продажа услуг,2022-03-29,24.00,25.00,0
2558,14258,49220,Экспресс доставка,10365,Пространство ВкусВилл,10364,Продажа услуг,2022-03-29,242.00,248.00,0
5436,14343,49220,Экспресс доставка,10365,Пространство ВкусВилл,10364,Продажа услуг,2022-03-29,150.00,146.00,0
6636,14330,49220,Экспресс доставка,10365,Пространство ВкусВилл,10364,Продажа услуг,2022-03-29,468.00,478.00,0
8456,14815,49220,Экспресс доставка,10365,Пространство ВкусВилл,10364,Продажа услуг,2022-03-29,104.00,114.00,0
...,...,...,...,...,...,...,...,...,...,...,...
6587719,15194,49220,Экспресс доставка,10365,Пространство ВкусВилл,10364,Продажа услуг,2022-03-21,NaN,12.00,0
6660327,11939,49220,Экспресс доставка,10365,Пространство ВкусВилл,10364,Продажа услуг,2022-03-21,NaN,112.00,0
6666904,15714,49220,Экспресс доставка,10365,Пространство ВкусВилл,10364,Продажа услуг,2022-03-21,NaN,41.00,0
6681047,11956,49220,Экспресс доставка,10365,Пространство ВкусВилл,10364,Продажа услуг,2022-03-21,NaN,88.00,0
6695838,11439,49220,Экспресс доставка,10365,Пространство ВкусВилл,10364,Продажа услуг,2022-03-21,NaN,98.00,0

In [7]:
id_tov = list(df_ost['id_tov'].unique())

In [11]:
tov = {}
for el in id_tov:
    df = df_ost[df_ost['id_tov'] == el]
    tov[el] = {
        'name' : df['name_tov'].iloc[0],
        'name_gr2' : df['name_gr2'].iloc[0],
        'name_gr' : df['name_gr'].iloc[0]
    }

In [14]:
pd.DataFrame(tov).T.to_csv(path+'inf_tovar.csv', sep=';')