In [1]:
#!pip install -r requirements.txt
#!pip list

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
pd.set_option('display.float_format', '{:.2f}'.format)

path_2022 = '../data/2022/'
path = '../data/'

In [4]:
df_02_svao = pd.read_csv(path_2022+'svao_2_febr.csv', sep=';')
df_03_svao = pd.read_csv(path_2022+'svao_3_march.csv', sep=';')
df_04_svao = pd.read_csv(path_2022+'svao_4_april.csv', sep=';')

In [5]:
# расчет суммы, среднего и стандартного отклонения по месяцам
def sum_mean_std_month(df, month):
    tt_mean_std = {}
    
    tt = df['id_tt_cl'].unique()
    for el in tt:
        el_sum = np.round(df[df['id_tt_cl'] == el]['BaseSum_correct'].resample('d').sum().sum(), 2)
        el_mean = np.round(df[df['id_tt_cl'] == el]['BaseSum_correct'].resample('d').sum().mean(), 2)
        el_std = np.round(df[df['id_tt_cl'] == el]['BaseSum_correct'].resample('d').sum().std(), 2)
        tt_mean_std[el] = {f'{month}_sum':el_sum, 
                           f'{month}_mean':el_mean, 
                           f'{month}_std':el_std}
    
    return tt_mean_std

**Февраль 2022**

In [6]:
df_02_svao['BaseSum_correct'] = df_02_svao['BaseSum'] * df_02_svao['znak']
df_02_svao['Quantity_correct'] = df_02_svao['Quantity'] * df_02_svao['znak']
df_02_svao['date_ch'] = pd.to_datetime(df_02_svao['date_ch'])
df_02_svao = df_02_svao.set_index(pd.DatetimeIndex(df_02_svao['date_ch']))

In [7]:
svod_02 = pd.DataFrame(sum_mean_std_month(df_02_svao, '2')).T

**Март 2022**

In [8]:
df_03_svao['BaseSum_correct'] = df_03_svao['BaseSum'] * df_03_svao['znak']
df_03_svao['Quantity_correct'] = df_03_svao['Quantity'] * df_03_svao['znak']
df_03_svao['date_ch'] = pd.to_datetime(df_03_svao['date_ch'])
df_03_svao = df_03_svao.set_index(pd.DatetimeIndex(df_03_svao['date_ch']))

In [9]:
svod_03 = pd.DataFrame(sum_mean_std_month(df_03_svao, '3')).T

**Апрель 2022**

In [10]:
df_04_svao['BaseSum_correct'] = df_04_svao['BaseSum'] * df_04_svao['znak']
df_04_svao['Quantity_correct'] = df_04_svao['Quantity'] * df_04_svao['znak']
df_04_svao['date_ch'] = pd.to_datetime(df_04_svao['date_ch'])
df_04_svao = df_04_svao.set_index(pd.DatetimeIndex(df_04_svao['date_ch']))

In [11]:
svod_04 = pd.DataFrame(sum_mean_std_month(df_04_svao, '4')).T

In [12]:
svod_234 = pd.concat([svod_02, svod_03, svod_04],axis=1)

In [13]:
svod_234

,2_sum,2_mean,2_std,3_sum,3_mean,3_std,4_sum,4_mean,4_std
13779,3582256.96,127937.75,10970.25,3898083.46,125744.63,11703.57,3711991.05,123733.03,11524.47
14853,4563454.09,162980.50,10742.71,4977050.95,160550.03,13222.60,5077665.78,169255.53,11178.69
12611,5467477.89,195267.07,19525.71,5583399.82,180109.67,13618.44,5750977.96,191699.27,21040.20
15372,4989015.99,178179.14,12798.88,5502086.18,177486.65,13384.01,5579710.16,185990.34,15848.28
11732,10346821.78,369529.35,26517.23,11387195.73,367328.89,26432.45,10931398.08,364379.94,28276.35
...,...,...,...,...,...,...,...,...,...
12181,6023002.98,215107.25,24140.51,6502775.44,209766.95,14992.36,6737986.57,224599.55,24968.25
12414,6194483.36,221231.55,18950.90,6386841.60,206027.15,18582.81,6405605.85,213520.20,18866.17
12689,4066063.89,145216.57,10592.62,4366481.32,140854.24,11555.95,4250012.46,141667.08,12601.78
11312,4109386.09,146763.79,12998.21,4505222.76,145329.77,15126.01,4437695.68,147923.19,16885.65
11357,9471479.58,338267.13,18751.57,10228615.53,329955.34,20749.25,10247240.81,341574.69,24182.39

In [14]:
svod_234.to_csv(path_2022+'svod_234.csv', sep=';')